<template>
  <div class="cart">
    <h2>Shopping Cart</h2>
    <div>
        Total: ${{ total }}
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component
export default class Cart extends Vue {
  @Prop({ default: 0 }) total!: number;
}
</script>
