<template>
  <div class="products">
    <div v-for="product in products" :key="product.id" class="product">
      <div>
        <h4 class="product-title">{{ product.title }}</h4>
        <button class="add-to-cart btn" v-on:click="addToCart(product)">Add to Cart</button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Prop, Component, Emit } from "vue-property-decorator";

export interface ProductItem {
  id: number;
  title: string;
  price: number;
  tags: Array<string>;
}

@Component
export default class Product extends Vue {
  @Prop({ default: [] }) public products!: Array<ProductItem>;

  @Emit("product-to-cart")
  addToCart(p: ProductItem) {
    return p;
  }
}

</script>
