<template>
  <div>
    <div class="header">
      <div class="container">
        <div class="title">
          <img src="logo.png">
          <h1>Vue.js Poster Shop</h1>
        </div>
      </div>
    </div>
    <div class="main container">
      <div class="products">
          <Product :products="products" @product-to-cart="addToStoreCart"/>
      </div>
      <Cart :total="getTotal(appState)"/>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Product, { ProductItem } from "./components/Product.vue";
import Cart from "./components/Cart.vue"
import products from './products.json'

interface AppState {
  cart: ProductItem[];
}

@Component({
  components: {
    Product,
    Cart
  }
})
export default class App extends Vue {
  public products = products;
  public cart: ProductItem[] = [];
  // Poor man's flux.
  public appState: AppState = {
    cart: []
  };

  addToStoreCart(p: ProductItem) {
    this.appState = Object
      .assign({}, this.appState, { cart: this.appState.cart.concat(p)});
  }

  getTotal(a: AppState) {
    return a.cart.reduce((accum, p) => p.price + accum, 0)
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
